html {
  height: auto;
  font-family: Lato; }

* {
  box-sizing: border-box; }

body {
  background: url("../../img/moon.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0; }

header {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px; }

h1 {
  font-size: 20px;
  font-family: lato;
  color: white;
  position: relative;
  left: 50px;
  top: 350px;
  bottom: 100px;
  right: 80px;
  text-align: justify; }

img {
  width: 350px;
  height: auto;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 50px;
  position: sticky; }

.portfolio {
  width: auto;
  float: left;
  position: inherit; }

ul {
  margin-top: 0;
  padding-bottom: 3rem; }

p {
  padding: 2rem;
  position: relative;
  float: right;
  font-size: 20px;
  color: white;
  font-family: Lato; }

header {
  background-color: #27272B;
  padding: 20px;
  border-bottom: 5px solid #44B2E2; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: Lato;
  font-size: 1rem;
  color: #44B2E2;
  background-color: #27272B;
  border-top: 4px solid #44B2E2;
  text-align: right;
  padding: 20px;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.form,
.input,
.select,
.textarea {
  margin: 0;
  padding: 10; }

div.box {
  margin: 0 auto;
  width: 500px;
  background: #44B2E2;
  position: relative;
  top: 50px;
  border: 5px solid #44B2E2;
  float: left; }

div.box h1 {
  color: #44B2E2;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid #44B2E2;
  border-top: 1px solid #44B2E2; }

div.box label {
  width: 100%;
  display: block;
  background: #27272B;
  border-top: 1px solid #44B2E2;
  border-bottom: 1px solid #44B2E2;
  padding: 10px 0 10px 0; }

div.box label span {
  display: block;
  color: #44B2E2;
  font-size: 0.8rem;
  float: left;
  width: 100px;
  text-align: right;
  padding: 4px 25px 0 0; }

div.box .registry {
  padding: 10px 10px;
  width: 200px;
  background: black;
  border-bottom: 1px double #44B2E2;
  border-top: 1px double #44B2E2;
  border-left: 1px double #44B2E2;
  border-right: 1px double #44B2E2;
  color: white;
  font-size: 1.2rem; }

div.box .message {
  padding: 5px 7px;
  width: 350px;
  background: black;
  border-bottom: 1px double #44B2E2;
  border-top: 1px double #44B2E2;
  border-left: 1px double #44B2E2;
  border-right: 1px double #44B2E2;
  overflow: hidden;
  height: 150px;
  color: white;
  font-size: 1.5rem; }

div.box .button {
  margin: 0 0 10px 0;
  padding: 4px 7px;
  background: #27272B;
  border: 0px;
  position: relative;
  top: 10px;
  left: 382px;
  width: 100px;
  border: 5px solid #44B2E2;
  color: #44B2E2;
  font-family: Lato;
  font-size: 1rem; }

#menu {
  position: absolute;
  right: 0;
  top: 3.5em; }

#menu ul {
  display: inline-block; }

#menu li {
  display: block;
  float: left;
  text-align: center; }

#menu li a, #menu li span {
  display: block;
  margin: 0px 1px;
  padding: 0em 1.5em;
  letter-spacing: 0.20em;
  line-height: 50px;
  text-decoration: none;
  font-size: 0.90em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  color: #FFF; }

#menu li:hover a, #menu li.active a, #menu li.active span {
  background: #44B2E2;
  color: #FFF; }

@media all and (min-width: 650px) {
  body {
    background: url("../../img/moon.jpg");
    color: white;
    font-size: 20px; } }

@media all and (min-width: 960px) {
  body {
    background: url("../../img/moon.jpg");
    color: white;
    font-size: 20px; } }
